/* ==============================variables=================================== */

/**
 * Custom Variables
 */

// CUSTOM VARS HERE
$colors: (
  my-black: #000,
  my-white: #fff,
);

$z-index: (
  nav: 10,
);
