doctype html
html(xmlns='http://www.w3.org/1999/xhtml')

  include head.pug

  body
    header
    main.container.mx-auto.p-4.flex.flex-col.items-center.justify-center
      h1  Y.A.C.H.T.
      #app
        block content
